[submodule "mrubyc/IoT-workshop-for-firmware-programming-with-ESP32-and-mrubyc/esp-idf"]
	path = mrubyc/IoT-workshop-for-firmware-programming-with-ESP32-and-mrubyc/esp-idf
	url = https://github.com/espressif/esp-idf.git
